---
import { Image } from "astro:assets";

interface Props {
  videoSrc: string;
  logo: ImageMetadata;
  logoDark?: ImageMetadata;
  name: string;
  date: string;
  description: string;
  notes: string;
  isRightSide?: boolean;
  isEager?: boolean;
}

const {
  videoSrc,
  logo,
  logoDark = null,
  name,
  date,
  description,
  notes,
  isRightSide = false,
  isEager = false,
} = Astro.props;
---

<section
  class="mb-36 mt-12 max-w-screen-lg pt-10 text-center sm:mx-auto"
  class:list={[isRightSide ? "sm:text-end" : "sm:text-start"]}
>
  <div
    class="mx-0 flex flex-col items-center justify-center gap-6 sm:mx-8 sm:items-start sm:gap-12"
    class:list={[isRightSide ? "sm:flex-row-reverse" : "sm:flex-row"]}
  >
    <video
      class="aspect-[4/5] min-w-[240px] rounded-img object-cover md:min-w-[320px]"
      autoplay
      disablepictureinpicture
      disableRemotePlayback
      x-webkit-airplay="deny"
      loop
      muted
      playsinline
    >
      <source src={videoSrc} type="video/mp4" />
    </video>
    <div class="mx-8 mt-0 space-y-4 sm:mx-0 sm:mt-8">
      {
        logoDark ? (
          <div>
            <Image
              src={logo}
              class="mx-auto block max-h-12 w-auto max-w-32 object-contain sm:mx-0 dark:hidden"
              class:list={[isRightSide && "sm:ms-auto"]}
              loading={isEager ? "eager" : "lazy"}
              alt=""
            />
            <Image
              src={logoDark}
              class="mx-auto hidden max-h-12 w-auto max-w-32 object-contain sm:mx-0 dark:block"
              class:list={[isRightSide && "sm:ms-auto"]}
              loading={isEager ? "eager" : "lazy"}
              alt=""
            />
          </div>
        ) : (
          <Image
            src={logo}
            class="mx-auto max-h-12 w-auto max-w-32 object-contain sm:mx-0"
            class:list={[isRightSide && "sm:ms-auto"]}
            loading={isEager ? "eager" : "lazy"}
            alt=""
          />
        )
      }
      <h3
        class="font-serif text-4xl font-normal text-zinc-900 dark:text-zinc-50"
      >
        {name}
        <span class="whitespace-nowrap text-lg">({date})</span>
      </h3>
      <p class="text-xl">
        {description}
      </p>
      <p class="text-sm uppercase">
        {notes}
      </p>
    </div>
  </div>
</section>
