---
import { Image } from "astro:assets";
import headerImage from "../assets/header.jpg";
import * as m from "../paraglide/messages.js";
---

<div class="mx-4 max-w-screen-lg pt-10 text-center md:pt-24 lg:mx-auto">
  <Image
    src={headerImage}
    class="min-h-32 rounded-img object-cover"
    loading="eager"
    alt=""
  />
  <p
    class="mt-10 max-w-screen-md break-words font-serif text-6xl font-light tracking-tighter text-zinc-900 md:mx-auto md:text-7xl dark:text-white"
  >
    Julio —
    <span class="font-sans uppercase">Android Developer</span>
    {m.at()} Paninti. {m.based_in()}
    <span class="font-sans uppercase">Bandung</span>
  </p>
  <p
    class="mt-10 max-w-screen-sm text-xl text-zinc-600 sm:mx-auto dark:text-zinc-400"
  >
    {m.landing_page_desc()}
  </p>
  <div
    class="mb-32 mt-6 flex flex-row place-items-center justify-center text-xs uppercase"
  >
    <canvas id="scroll-down-canvas" class="size-6"></canvas>
    {m.scroll_down()}
  </div>
</div>

<script>
  import { Rive } from "@rive-app/canvas-lite";

  document.addEventListener("astro:page-load", () => {
    let artboard = localStorage.theme === "dark" ? "Dark" : "Light";
    const r = new Rive({
      src: "../scroll_down.riv",
      canvas: document.getElementById(
        "scroll-down-canvas",
      ) as HTMLCanvasElement,
      artboard: artboard,
      autoplay: true,
      onLoad: () => {
        r.resizeDrawingSurfaceToCanvas();
      },
    });
  });
</script>
